*{
    margin: 0;
    padding: 0;
}
.menu-container{
    background-color: #495057;
}
.nav-links li{
    margin: 5px;
}
.menu-container img{
    width: 100px;
}
.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    background-image: url(../images/ba1.jpg);
    background-repeat: no-repeat ;
    background-position: center center;
    background-size: cover;
    color: white;
    height: 100vh;
}
.main-text{
    padding-left: 51vw;
    padding-right: 9vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.5);

}
.NavLink li:last-child a{
    color: #0cc449;
}
.oradores{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.JS{
    background-color: rgb(254, 193, 7);
    border-radius: 5px;
    padding: 0 5px;
    font-weight: bold;
}
.react{
    background-color: rgb(22, 161, 184);
    border-radius: 5px;
    padding: 0 5px;
    font-weight: bold;
    color: white;
}
.Negocios{
    background-color: gray;
    border-radius: 5px;
    padding: 0 5px;
    font-weight: bold;
    color: white;
}
.Startups{
    background-color: red;
    border-radius: 5px;
    padding: 0 5px;
    font-weight: bold;
    color: white;   
}
.honolulu-text{
    background-color: #495057;
    color: white;
    height: inherit;
}
u{
    text-decoration-style: dotted;
}
.footer-content{
    background-color: rgb(29, 58, 74);
    color: white;
    display: flex;
    justify-content: center;
}
.nav-item a:hover{
        filter: brightness(0.7);
}

@media (min-width: 578px) and (max-width: 992px) {
    .cac{
        width: 200px !important;
    }
    .nav-text{
        font-size: 36.4px;
    }
    .nav-link{
        font-size: 2.5rem !important;
        margin: 1rem 0;
    }
    .navbar-toggler-icon{
        width: 5rem !important;
        height: 5rem !important;
    }
    p{
        font-size: 40px;
    }
    .main-content{
        height: 100vh;
    }
    .main-text{
        padding-left: 18vw;
        padding-right: 10vw;
    }
    .ConfBsAs{
        font-size: 4.5rem;
    }
    .oradores span{
        font-size: 2.5rem;
    }
    .card-body span{
        font-size: 2rem;
    }
    .btn{
        font-size: 35px !important;
        padding: 1rem 0.5rem !important;
    }
    h2{
        font-size: 3.5rem !important;
    }
    h5{
        font-size: 2.5rem !important;
    }
    .form-control{
        margin-top: 20px;
        font-size: 2.5rem !important;
    }
}

@media only screen and (min-device-height: 320px) 
                   and (max-device-height: 570px) 
                   and (orientation: landscape) {
                    p{
                        font-size: 30px;
                    }
                    .main-content{
                        height: 120vh;
                    }
                    .main-text{
                        padding-left: 18vw;
                        padding-right: 10vw;
                        display: flex;
                        justify-content: start;
                    }
}

.boton{
    background-color: rgb(150, 201, 62) !important;
    border-color: rgb(150, 201, 62) !important;
}
.navbar{
    --bs-navbar-padding-y: 0 !important;
}
.btn-success {
    --bs-btn-bg: #0cc449 !important;
    --bs-btn-border-color: #0cc449 !important;
    --bs-btn-hover-bg: #0cc449 !important;
    --bs-btn-hover-border-color: #0cc449 !important;
}


.tickets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-link{
      font-size: 18px;
    }
    .nav-link-green {
      color:rgb(41,167,68);
    }
  
  /* estilos de las cards*/
  .myCards {
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .card {
    border-radius: 0;
    border: none;
  }
  .text-small {
    font-size: 14px;
  }
  
  /* estilos del formularios */
  .divForm {
    margin: 0;
    padding: 0;
  }
  
  .cost{
      height: 55px;
      background-color: cornflowerblue;
  }
  
  .btnForm {
    width: 100%;
    background-color: rgb(150, 201, 62);
    color: white;
  }
  
  .btnForm:hover {
      background-color:rgb(180, 220, 70);
      color: white;
  }
  
  input {
    height: 45px;
  }
  select {
    height: 45px;
  }
  
  /*estilos del footer*/
  .footer {
    margin-top: 1vh;
    align-items: flex-start;
    padding: 2vh 15vh;
    background-color: rgba(30, 81, 112, 255);
  }
  
  .btn-footer {
    font-size: 16px;
    color: white;
    width: 140px;
    height: 80px;
    word-wrap: break-word;
  }
  